{% extends 'JluctConfiguratorServerBundle::layout.html.twig' %}


{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><b>Soft name</b> - {{ data.name }}</li>
                    <li class="list-group-item"><b>Version</b> - {{ data.version }}</li>
                    <li class="list-group-item"><b>Date</b> - {{ data.date|date('d-m-Y H:i:s') }}</li>
                    <li class="list-group-item"><b>Count block</b> - {{ data.blockConfig|length }}</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h4>Description</h4>
                <p>
                    {{ data.description }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('jluct_configurator_server_admin_add_block',{'file_id':data.id}) }}" role="button"
                   class="btn btn-success btn-block">ADD BLOCK</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for block in data.blockConfig %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <b>{{ block.name }}</b>
                            {% if block.required == true %}
                                <span class="label label-danger">Required</span>
                            {% endif %}
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-6">

                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#info_{{ block.id }}"
                                                                                  aria-controls="info"
                                                                                  role="tab" data-toggle="tab">Info</a>
                                        </li>
                                        <li role="presentation"><a href="#dependencies_{{ block.id }}"
                                                                   aria-controls="dependencies"
                                                                   role="tab" data-toggle="tab">Dependencies</a></li>

                                        <li role="presentation"><a href="#dependent_{{ block.id }}"
                                                                   aria-controls="dependent"
                                                                   role="tab" data-toggle="tab">Dependent</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane active" id="info_{{ block.id }}">
                                            <ul class="list-group">
                                                <li class="list-group-item"><b>Orders</b> - {{ block.orders }}</li>
                                                <li class="list-group-item"><b>Activity</b> - {{ block.activity }}</li>
                                                <li class="list-group-item"><b>Created</b>
                                                    - {{ block.date|date('d-m-Y H:i:s') }}</li>
                                                <li class="list-group-item"><b>Orders</b> - {{ block.orders }}</li>

                                            </ul>
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="dependencies_{{ block.id }}">
                                            {% if block.dependencies %}
                                                <ul class="list-group">
                                                {% for dependency in block.dependencies %}
                                                    <li class="list-group-item">{{ dependency.name }}</li>
                                                {% endfor %}
                                            {% else %}
                                                <p>EMPTY :(</p>

                                                </ul>
                                            {% endif %}
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="dependent_{{ block.id }}">
                                            {% if block.dependent %}
                                                <ul class="list-group">
                                                {% for dependency in block.dependent %}
                                                    <li class="list-group-item">{{ dependency.name }}</li>
                                                {% endfor %}
                                            {% else %}
                                                <p>EMPTY :(</p>

                                                </ul>
                                            {% endif %}
                                        </div>

                                    </div>


                                </div>
                                <div class="col-sm-6">
                                    <h4>Description</h4>
                                    <p>
                                        {{ block.description }}
                                    </p>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <td colspan="7">
                                            <a href="#" role="button" class="btn btn-success btn-block">ADD STROKE</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Orders</th>
                                        <th>Type</th>
                                        <th>Requiered</th>
                                        <th>Default value</th>
                                        <th>Value</th>
                                        <th>
                                            What you want?
                                        </th>
                                    </tr>

                                    {% if block.stringConfig is not empty %}
                                        {% for string in block.stringConfig %}
                                            <tr>
                                                <td>{{ string.name }}</td>
                                                <td>{{ string.orders }}</td>
                                                <td>{{ string.type }}</td>
                                                <td>
                                                    {% if string.required %}
                                                        <span class="glyphicon glyphicon-ok"
                                                              aria-hidden="true"></span>
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-minus"
                                                              aria-hidden="true"></span>
                                                    {% endif %}
                                                </td>
                                                <td>{{ string.byDefault }}</td>
                                                <td>{% if string.value %}{{ string.value }} {% else %}empty :({% endif %}</td>
                                                <td>
                                                    <a href="#" role="button" class="btn btn-info" title="Reviews">
                                                        <span class="glyphicon glyphicon-eye-open"
                                                              aria-hidden="true"></span>
                                                    </a>
                                                    <a href="#" role="button"
                                                       class="btn btn-{% if string.activity %}warning {% else %}success{% endif %}"
                                                       title="Block">
                                                        <span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span>
                                                    </a>
                                                    <a href="#" role="button" class="btn btn-danger" title="Delete">
                                                        <span class="glyphicon glyphicon-trash"
                                                              aria-hidden="true"></span>
                                                    </a>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="7">
                                                {#<a href="#" role="button" class="btn btn-success btn-block">ADD#}
                                                {#STROKE</a>#}
                                                <h3 class="text-center">Empty ):</h3>
                                            </td>
                                        </tr>
                                    {% endif %}

                                </table>
                            </div>

                        </div>
                        <div class="panel-footer ">

                            <a href="#" role="button" class="btn btn-info" title="Reviews">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="#" role="button"
                               class="btn btn-{% if block.activity %}warning {% else %}success{% endif %}"
                               title="Block">
                                <span class="glyphicon glyphicon-{% if block.activity %}remove {% else %}ok{% endif %}"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="#" role="button" class="btn btn-danger" title="Delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
