<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('jluct_configurator_server_homepage') }}">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">О нас<span class="sr-only">(current)</span></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Настройки<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jluct_configurator_server_get_file_config', {'id':1 }) }}">Прокси</a>
                            </li>
                            <li><a href="#">Др</a></li>

                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Поиск...</button>
                </form>
                <ul class="nav navbar-nav navbar-right">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"> <b>{{ app.user.username }}</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Room</a></li>
                                <li><a href="#">Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a class="text-success" href="{{ path('fos_user_security_login') }}"><b>Sign In</b></a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

<script>

    $('#test').click(function () {
        $.post('/get-data', function (data) {
            console.log(data);
        })
    });

</script>
</body>
</html>
